body {
    background-color:bisque;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-size: xx-large;
}

.banner {
    background-image: linear-gradient(
        45deg,
        hsl(240deg 20% 14%) 0%,
        hsl(264deg 18% 19%) 8%,
        hsl(288deg 16% 24%) 17%,
        hsl(314deg 16% 30%) 25%,
        hsl(330deg 19% 37%) 33%,
        hsl(342deg 20% 44%) 42%,
        hsl(353deg 21% 51%) 50%,
        hsl(3deg 28% 58%) 58%,
        hsl(12deg 38% 63%) 67%,
        rgb(212, 157, 130) 75%,
        hsl(28deg 60% 71%) 83%,
        hsl(36deg 70% 75%) 92%,
        hsl(45deg 78% 79%) 100%
    );
    color: white;
    text-align: center;
    padding: 20px 0px;
    font-weight: bold;
}

.JakePhoto {
    position: fixed;
    top: 0;
    right: 0px;
    margin: 20px;
}

.JakePhoto2 {
    border: 5px solid rgb(229, 162, 152);
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    width: 180px;
    height: 180px;
    object-position: left 0%;
}

.SFUlogo {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
}

.SFUlogo2 {
    border: 5px solid rgb(229, 162, 152);
    border-radius: 5px;
    width: 75%;
    height: auto;
}

.main-nav {
    background-color: #333;
    overflow: hidden;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.main-nav li {
    display: inline-block;
    margin: 0 15px;
}

.main-nav a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
}

.main-nav a:hover {
    background-color: #555;
}

.bio {
    font-size: large;
    padding-top: 40px;
    margin-left: 125px;
    margin-right: 125px;
}
